<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>retoure-web-aktivshop</display-name>
    <description>Retoure Web Aktivshop</description>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <!--
        Context Parameters
    -->
    <context-param>
        <param-name>eu.artofcoding.retoure.web.store.STORE_IDENT</param-name>
        <param-value>aktivshop</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <!--
        Also add JVM flag -Dorg.apache.el.parser.COERCE_TO_ZERO=false
    -->
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>
    <!--
        Filters
    -->
    <!-- Encoding Filter -->
    <!--
    <filter>
        <filter-name>Encoding Filter</filter-name>
        <filter-class>eu.artofcoding.beetlejuice.web.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Encoding Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    -->
    <!-- Apache MyFaces Tomahawk, http://myfaces.apache.org/tomahawk/extensionsFilter.html -->
    <filter>
        <filter-name>extensionsFilter</filter-name>
        <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>extensionsFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <!--
        Servlets
    -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <!--
        Session
    -->
    <session-config>
        <session-timeout>60</session-timeout>
        <cookie-config>
            <name>SESSIONID</name>
        </cookie-config>
    </session-config>
    <!--
        Error Pages
    -->
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/login.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>eu.artofcoding.retoure.api.RetoureRuntimeException</exception-type>
        <location>/exception.xhtml</location>
    </error-page>
</web-app>
