# IntelliJ #
*.iml
.idea/
atlassian-ide-plugin.xml
lib/

# Maven #
pom.*.*Backup
buildNumber.properties

# Compiler #
*.class
out/
target/

# Package Files #
*.jar
*.war
*.ear

**/src/test/data/**

# oXygen XML Editor #
*.xpr

# Tests #

# JRebel #
rebel.xml
